<div class="container">
	<h1 id="title"> About This App</h1>
	<p>This is an app where you can create and save recipes so you can make them and eat them later. You'll never go hungry again, all thanks to me! Go ahead, thank me.</p> 
	<br>
	<br>
	<p>...You shouldn't have!</p> 
	<br>
	<br>
	<p>...But you're very welcome.</p>
	<br>
	<br>
	<h1 id="smiley">:)</h1>
</div>