@import "bootstrap";

.container {
	justify-content: center;
	align-items: center;
}
img.recipe-show {
	width: 400px;
	height: auto;
	display: block;
	margin: auto;
}
.recipe-box {
	height: 600px;
	width: auto;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #f1f1f1;
}
img.recipe-index {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.recipe-box ul {
	list-style-type: none;
	position: absolute;
	bottom: 0;
}
.recipe-box ul li:first-child {
	font-size: 24px;
}
.show-pg-recipe {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
	.recipe-title {
		font-size: 50px;
	}
	.recipe-image {
		padding: 20px;
		margin: auto;
		vertical-align: middle;
		position: relative;
		display: inline-block;
	}
	.recipe-info {
		padding: 20px;
		margin: auto;
		display: inline-block;
		position: relative;
	}
#title {
	text-align: center;
	padding: 20px;
}

#recipe_image {
	display: block;
}
.image {
	display: block;
	max-width: 400px;
	margin: auto;
}
#image_options {
	display: block;
	margin: 10px auto;
}
.form-group label {
	font-weight: 600;
}
.list-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: auto;
	padding-top: 40px;
}
	.list-block h3 {
		padding: 10px;
	}
	.list-items {
		position: relative;
		display: block;
		width: 250px;
		margin: 0 auto;
	}
		.form-group {
			display: block;
			position: relative;
			left: 0;
		}
		
			.add_nested_fields_link {
				text-align: center;
				margin: 0 auto;
			}

		.nested_fields {
			margin: 10px;
		}

.actions {
	text-align: center;
	padding: 10px;
}
	.edit-back {
		text-align: center;
	}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
